@media screen and (min-width: 700px) {

    body {
        overflow-y: hidden;
    }

    nav {
        display: none;
    }

    menu {
        display: block;
        word-spacing: 20px;
    }

    menu p {
        display: inline;
        cursor: pointer;
        color: var(--cor4);
    }

    menu p:hover {
        color: var(--cor2);
    }

    #grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: auto;
        width: 100%;
        height: 500px;
    }

    .conteudo-inicial {
        margin-right: 20px;
    }

    .coluna {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }

    .coluna h1 {
        margin-right: 20px;
    }

    #card01 {
        width: 90%;
        height: auto;
    }

    #card02 {
        display: flex;
        justify-items: center;
        padding-right: 10px;
    }

    #card02 .image {
        width: 80px;
        height: 40px;
    }

    #card02 p.texto {
        padding-right: 10px;
    }


}