@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {

--cor1: hsl(35, 77%, 62%);
--cor2: hsl(5, 85%, 63%);
--cor3: hsl(36, 100%, 99%);
--cor4: hsl(233, 8%, 79%);
--cor5: hsl(236, 13%, 42%);
--cor6: hsl(240, 100%, 5%);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#menu {
    position: absolute;
    left: 29%;
    top: 100%;
    transform: translatey(-100%);
    background-color: var(--cor3);
    width: 72%;
    height: 100%;
    opacity: 100%;
}

a#fechar {
    display: flex;
    justify-content: end;
    margin:0px 10px 0px 20px;
    padding-bottom: 10%;
}

#menu > p {
    padding-left: 20px;
}

img {
    width: 100%;
}



main {
    padding: 10px;
}

h1 {
    font-weight: 800;
    font-size: 2em;
    margin: 10px 0px 10px 0px;
}

.texto {
    color: var(--cor5);
}

#descricao {
    margin-bottom: 30px;
}

.botao {
    background-color: var(--cor2);
    color: white;
    border: none;
    font-weight: 700;
    letter-spacing: 5px;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
}

.botao:hover {
    background-color: var(--cor6);
}

#card01 {
    background-color: var(--cor6);
    width: 100%;
    height: 400px;
    text-align: justify;
    padding: 10px;
    margin-top: 50px;
}

#card01 > h2 {
    color: var(--cor1);
    padding-bottom: 30px;
}

#card01 > h3 {
    color: var(--cor3);
    font-size: 1.3em;
    padding: 20px 0px 10px 0px;
    cursor: pointer;
}

#card01 > h3:hover {
    color: var(--cor1);
}

#card01 > .texto {
    text-align: left;
}

hr {
    margin-top: 10px;
    background-color: var(--cor5);
}

#card02 {
    margin: 50px 0px 50px 0px;
    font-size: 1.5em;
}

#card02 h3 {
    cursor: pointer;
}

#card02 h3:hover {
    color: var(--cor2);
}


.retro, .laptop, .game {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 30px;
}

.image {
    width: 20%;
    height: 20%;
    padding-right: 10px;
}

h2 {
    color: var(--cor4);
    font-size: 2em;
    font-weight: 800;
}
